
html {
    font-family: 'Georgia';
    font-weight: normal;
    color: #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background: #333;
    background: #FFF;
    max-width: 850px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: auto;
}

h1 {
    font-weight: normal;
    font-size: 44px;
}

h2 {
    font-weight: normal;
    color: #6633CC;
}


#banner_image {
    max-width: 100%;
    height: auto;
}

#menu {
    height: auto;
    margin: -20px 0 0 0;
}

#menu ul {
    text-align: center;
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 10px;
}

#menu li {
    display: block;
}

#menu a {
    text-decoration: none;
    color: #6633CC;
}

#menu a:hover {
    color: #C00000;
    /*text-decoration: underline;*/
}

.content {
    padding: 20px 0 20px 0;
    clear: both;
}

#page_content {
    /* width: 100%;*/
    clear: both;
    float: none;
}

p {
    text-indent: 2em;
    line-height: 150%;
    margin-bottom: 0em;
    margin-top: 0.3em;
}

